/*@font-face {
    font-family: Palatino;
    src: url("resources/Palatino.ttf") format("truetype");
}*/

body {
  margin-left: 0;
}

#sunlightText {
  margin-top: -20%;
  margin-bottom: 20%;
  font-family: monospace;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1.7em;
} 

h2, h3 {
    margin: auto;
    text-align: center;
    line-height: 1.7em;
    font-weight: 600;
    right: 1em;
    color: #fff;
} 

.iconTextInfo{
  height: 1em;
}

h2 {
  font-size: 1.7em;
}

svg {
    color : "red";
}


footer {
  position: absolute;
  bottom: 0;
}

#topTimeText {
  margin-top: -10%;
  margin-bottom: 0%;

}

#subTimeText {
  margin-top: -5%;
  bottom: 10%;
  font-weight: 200;
  font-size: 0.8em;
  height:2em;
  transition-duration: .3s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

#copyright {
  color:white;
}

#mainContainer {
  margin-top: 10%;
  height: 30%;
  position: fixed;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

main {
    margin: auto;
    right: 5px;
    font-family: Verdana, sans-serif;
    display: inline-block;
    border: solid white;
    padding: 5%;
    border-radius: 5%;
    border-top: transparent;
/*    text-shadow: 7px 7px 10px rgba(0,0,0,0.3);*/
}

.timeText {
  display: inline-block;
  font-size: 1em;
/*  font-weight: 600;*/
}

.isMore {
  color: #aa0000;
}

#inputs {
  position: absolute;
  bottom: 3em;
  margin: auto;
  width: 100%;
  text-align: center;
  line-height: 1.7em;
}

#shapes {
  position:absolute;
  width: 100%;
  top:0;
}

#wheel{
    position: absolute;
    width: 500px;
    height:500px;
    margin-top: 10%;
    z-index: -1;
    touch-action: none;
}

#sunShapes{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    font-size:20%;
}

#observedTimeMarker {
  height: 3px;
  background-color: white;
  width: 5%;
  position:absolute;
  top:10px;
  left:10px;
  border-radius: 50%;
  z-index:-1;
  box-shadow: 5em 5em 8em 0px rgba(0,0,0,0.5);
  box-shadow: 5em 5em 8em 0px rgba(0,0,0,0.5);
  box-shadow: 5em 5em 8em 0px rgba(0,0,0,0.5);
}

#summerMarker {
  top:0%;
  left:50%;
}

#winterMarker {
  top:100%;
  left:50%;
}

#springMarker {
  top:50%;
  left:100%;
}

#autumnMarker {
  top:50%;
  left:0%;
}

.sunShape {
    position: absolute;

    border-radius: 50%;
}

#svgSunWhite {
  background: linear-gradient(145deg, #FDC46D 0%, #F1AD28 100%);
    box-shadow: inset 4px 4px 0px 0px #f0eca8;
    box-shadow: inset 4px 4px 0px 0px #f0eca8;
    box-shadow: inset 4px 4px 0px 0px #f0eca8;
    overflow: hidden;
  width: 100%;
  height: 100%;
}

#svgSunYellow {
  z-index: 1;
  scale: 1;
  background: rgba(39,62,84,0.82);
  background: linear-gradient(317deg, #F9EFE0 0%, #FFF9EF 100%);
  box-shadow: 5em 5em 8em 0px rgba(0,0,0,0.5);
  box-shadow: 5em 5em 8em 0px rgba(0,0,0,0.5);
  box-shadow: 5em 5em 8em 0px rgba(0,0,0,0.5);
}

.withTransition {
  transition: all .1s ease-out;
}

#centerWhite {
  z-index: 2;
  background: linear-gradient(145deg, #FDC46D 0%, #F1AD28 100%);
  width: 10%;
  height: 10%;
  left:45%;
  top:45%;
}

#svgSunWhiteLine {
  width: 100%;
  height: 100%;
  box-shadow: 9em 9em 10em 0px rgba(0,0,0,0.5);
  box-shadow: 9em 9em 10em 0px rgba(0,0,0,0.5);
  box-shadow: 9em 9em 10em 0px rgba(0,0,0,0.5);
}

.timeMarker {
  position:absolute;
  height: 2%;
  width: 2%;
  
  
/*  display: inline-block;*/
  z-index: 1;
  left:50%;
  scale: 1;
  margin: auto;
  transition-duration: .3s;
  transition-property: scale;
  transition-timing-function: ease-in-out;
}

.timeMarker:hover {
  scale: 1.3;
}

.timeMarkerShape {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
  border-radius: 50%;
  border: 2px dotted;
  margin-left: -50%;
  margin-top: -50%;
  -webkit-box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.3);
  border: 2px solid;
  border-color: #fff;
}

#summerMarker .timeMarkerShape {
  background: rgba(255,255,255,1);
}

#winterMarker .timeMarkerShape {
  background: rgba(0,0,0,0);
}

#springMarker .timeMarkerShape {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
}

#autumnMarker .timeMarkerShape {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%);
}

#nowMarker .timeMarkerShape {
  background: linear-gradient(145deg, #FDC46D 0%, #F1AD28 100%);
}

#background {
  position:fixed;
  width: 100%;
  height: 100%;
/*  background: rgb(252,215,209);*/
/*background: url(resources/texture-white.jpeg) repeat fixed;*/
  
  background:linear-gradient(145deg, #bc9d1d88 0%, #bc9d1d88 100%), url(resources/texture-orange2.jpeg);
  background-size: 35% 35%;
  z-index: -3;

}

#background2 {
  position:fixed;
  width: 100%;
  height: 100%;
/*  background: rgb(252,215,209);*/
/*background: url(resources/texture-white.jpeg) repeat fixed;*/
/*background-color: #FAFECCAA;*/
/*background-size: 15% 15%;*/
  background: radial-gradient(circle at 27%, #ffffff88 0%, transparent 50%);
  z-index: -2;
}

#sinusContainer {
  position:fixed;
  height:40%;
  overflow: scroll;
  width:100%;
  bottom:0;
}

#svgSinus {
  width:400%;
}